<% if (!user) { %>
	<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Projunity</title>
	</head>
	<body>
		<section class="todohome">
			<header>
				<h1>Projunity backend 'alpha'</h1>
			</header>
			<section>
				<h3>Please indentify</h3>
				<a class="button" href="/login">Sign in</a>
			</section>
		</section>
		<footer class="info">
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>

<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>
